.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(240, 216, 194);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  color: black
}

.error {
  color: red;
}
